
<style>

    .titlepicture {
        display: inline-block;
        float: left;
        margin-left: auto;
        margin-right: auto;
        padding-right: 30px;
        height: 50px;
        width: 70px;
    }

    #images {
        text-align: left;
    }

    .center {
        text-align: center;
    }
    .left {
        text-align: left;
    }

    div.fixedRedirect {
        position: fixed;
        left: 0%;
        bottom: 0%;
        background-color: #d8ebef;
    }

    .step {
        padding: 0px;
        padding-right: 45px;
        border: none;
        height: 96px;
        max-width: 77.6px;
        vertical-align: top;
        background: transparent;
    }

    .content {
        display: flex;
    }
    table {
        border-collapse: collapse;
        margin-top: 10px;
    }

    td {
        padding: 1px 8px 1px 0px;
        text-align: left;
    }

</style>

{% for instructions in {{include.path}}[include.file] limit:1%}
<div id="images">
    <h2>
        <img class="titlepicture" border="0" alt="Flag" src="{{site.baseurl}}{{instructions.FlagPath}}" />
        {{instructions.MainTitle}}
    </h2>
</div>

<br />
<h4 class="left"><strong>{{instructions.InstructionSentence}}</strong></h4>
{% endfor %}

<br>

{% for object in {{include.path}}[include.file] limit:4 offset:1%}
<div class="content">
    <img class="step" src="{{site.baseurl}}{{object.FootPath}}" alt="Step" />
    <div>
        <strong>{{object.StepTitle}}</strong>
        <table>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/chapter-1">{{object.ChapterTitles.1}}</a></td>
                <td><a href="{{site.baseurl}}{{object.Path}}/chapter-2">{{object.ChapterTitles.2}}</a></td>
                <td><a href="{{site.baseurl}}{{object.Path}}/chapter-3">{{object.ChapterTitles.3}}</a></td>
            </tr>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/chapter-4">{{object.ChapterTitles.4}}</a></td>
                <td><a href="{{site.baseurl}}{{object.Path}}/chapter-5">{{object.ChapterTitles.5}}</a></td>
            </tr>
        </table>
    </div>
</div>
<br />
{% endfor %}


{% for object in {{include.path}}[include.file] limit:1 offset:5%}
<div class="content">
    <img class="step" src="{{site.baseurl}}{{object.FootPath}}" alt="Step" />
    <div>
        <strong>{{object.StepTitle}}</strong>
        <table>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/1-phrases">{{object.ChapterTitles.1}}</a></td>
            </tr>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/2-personal-pronouns">{{object.ChapterTitles.2}}</a></td>
            </tr>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/3-two-important-verbs">{{object.ChapterTitles.3}}</a></td>
            </tr>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/4-more-verbs">{{object.ChapterTitles.4}}</a></td>
            </tr>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/5-nouns">{{object.ChapterTitles.5}}</a></td>
            </tr>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/6-adjectives">{{object.ChapterTitles.6}}</a></td>
            </tr>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/7-numbers">{{object.ChapterTitles.7}}</a></td>
            </tr>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/8-time">{{object.ChapterTitles.8}}</a></td>
            </tr>
            <tr>
                <td><a href="{{site.baseurl}}{{object.Path}}/9-miscellaneous">{{object.ChapterTitles.9}}</a></td>
            </tr>
        </table>
    </div>
</div>
<br />
{% endfor %}



