---
layout: default
---
<style>
    footer {
        
        {% comment %}background-color: #424242fc;  grey color from older site{% endcomment%}
            background-color: #ffc685;
            background-repeat: no-repeat; 
            background-attachment: fixed; 
            background-size: cover;
    }
    header {
        background-color: #ffffff;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
    body {
        background-image: url("{{site.baseurl}}/assets/img/lcc_background.svg");
        background-size: cover;
    }
</style>
<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

</div>